@charset "UTF-8";
html{
  font-family: sans-serif;
}
html * {
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
a:link{
	color: #2a2c83;
}
a:visited{
	color: #2a2c83;
}
a:hover{
	color: #4b57f4;
}

.whole{
	padding: 5% 10% 5% 10%;
}
.header{
	text-align: center;
}
.content{
	text-align: center;
	padding-bottom: 50px;
}


footer{
  text-align: center;
  padding: 10px 10px 10px 10px;
}
