@charset "UTF-8";
html{
  font-family: sans-serif;
}
html * {
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
a:link{
	color: #2a2c83;
}
a:visited{
	color: #612a83;
}
a:hover{
	color: #4b57f4;
}

body {
	text-align: inherit;
	padding: 5% 10% 5% 10%;
}
p {
	margin-bottom: 1em;
}
.header{
	text-align: center;
	padding-bottom: 10px;
}
.content{
	margin: 3em 0 5em 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.textbox {
	
}


footer{
	padding-top: 10%;
  text-align: center;
}


@media screen and (max-width: 480px){
/*スマホ用*/
*{
    max-width: inherit;
}
.whole{
	padding: inherit;
}

.content{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 4vw;
	display: block ;
}
}
